<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Insert title here</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link th:href="@{/theme/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
	    <link
	        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
	        rel="stylesheet">
	    <link th:href="@{/theme/css/sb-admin-2.min.css}" rel="stylesheet">
	</head>
	<body>
		<div id="wrapper">
			<div th:replace="fragments/SideNavBar :: sidenav"></div>
			<div id="content-wrapper" class="d-flex flex-column">
            	<div id="content">
					<header th:insert="fragments/TopNavBar :: header"></header>
					 <div class="container-fluid">
					 	<div class="container border spacing p-3 mt-5" style="margin-top: 20px; width: 50%;">
			<h2 class="title text-center">Modifier les infos d'utilisateur</h2>
			<form class="text-center border border-light p-5" th:object="${user}" th:action="@{/user/edit}" method="post">
			    <div class="container">
			    	<input type="text" id="id" name="firstName" class="form-control mb-4" placeholder="id" th:field="*{id}" hidden=>
			    	<input type="text" id="firstName" name="firstName" class="form-control mb-4" placeholder="firstName" th:field="*{firstName}">
				    <input type="text" id="lastName" name="lastName" class="form-control mb-4" placeholder="lastName" th:field="*{lastName}">
				    <input type="text" id="phone" name="phone" class="form-control mb-4" placeholder="Téléphone" th:field="*{phoneNumber}">
				    <input type="text" id="phone" name="email" class="form-control mb-4" placeholder="Email" th:field="*{email}">
			    </div>
			    <div class="text-center mt-4">
			    	<button class="btn btn-primary" type="submit">Valider</button>
			    </div>
			</form>
		</div>
					 </div>
				</div>
			</div>
		</div>
	</body>
</html>
