<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
		<meta charset="UTF-8">
		<title>Insert title here</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
		<link rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
			<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link th:href="@{/theme/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
	    <link
	        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
	        rel="stylesheet">
	    <link th:href="@{/theme/css/sb-admin-2.min.css}" rel="stylesheet">
	</head>

<body>
	<div id="wrapper">
		<div th:replace="fragments/SideNavBar :: sidenav"></div>
			<div id="content-wrapper" class="d-flex flex-column">
	            		<div id="content">
					<header th:insert="fragments/TopNavBar :: header"></header>
					<div class="container-fluid">
						<div class="container mx-auto w-50 p-3">
		<form class="form-inline" th:action="@{/material/getByFilter}">
			<input class="form-control mr-sm-2" type="search" name="filter"
				placeholder="Search">
			<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
		</form>
	</div>
	<div class="card mx-auto mb-3" style="width: 60%;"
		th:each="demande : ${demandes}">
		<div class="card-body">
			<div class="row">
				<div class="col-md-4">
					<img th:src="@{${'/material/' + demande.material.imagePath}}"
						style="width: 150px; height: 120px;" class="rounded" />
				</div>
				<div class="col-md-8 mt-3">
					<h6>
						<b th:text="${demande.material.title}"></b>
					</h6>
					<h6 th:text="${demande.material.description}"></h6>
					<div class="float-right mt-3">
						<a th:if="${demande.status}">

							<form class="form-inline" th:action="@{/material/validateDemande}"
								method="post">
								<input class="form-control mr-sm-2 " type="hidden" name="idDem"
									placeholder="Search" th:value="${ demande.id}">

								<button type="submit" class="btn btn-primary">Validé</button>
							</form>
						</a> <a th:unless="${demande.status}">
							<form class="form-inline"
								th:action="@{/material/validateDemande}" method="post">
								<input class="form-control mr-sm-2 " type="hidden" name="idDem"
									placeholder="search" th:value="${demande.id}">
								<button type="submit" class="btn btn-danger">
									Non Validé </button>
							</form>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</body>

</html>